/**
* @source https://github.com/wickedlyhost/verysepcialtheme
*/

 @import url('https://raw.githubusercontent.com/wickedlyhost/verysepcialtheme/main/theme/transperancy.css');

 /* Config */
 :root{
 
    /* font, change to 'gg sans' for default discord font*/
    --font: 'figtree';

    /* color of status indicators and window controls */
    --online-indicator: var(--accent-2); /* change to #23a55a for default green */
    --dnd-indicator: hsl(340, 60%, 60%); /* change to #f13f43 for default red */
    --idle-indicator: hsl(50, 60%, 60%); /* change to #f0b232 for default yellow */
    --streaming-indicator: hsl(260, 60%, 60%); /* change to #593695 for default purple */

    /* accent colors */
    --accent-1: hsl(272, 33%, 76%); /* links */
    --accent-2: hsl(272, 33%, 69%); /* general unread/mention elements */
    --accent-3: hsl(272, 30%, 61%); /* accent buttons */
    --accent-4: hsl(272, 28%, 53%); /* accent buttons when hovered */
    --accent-5: hsl(273, 37%, 56%); /* accent buttons when clicked */
    --mention: hsla(272, 80%, 52%, 0.1); /* mentions & mention messages */
    --mention-hover: hsla(189, 14%, 10%, 0.05); /* mentions & mention messages when hovered */

    /* text colors */
    --text-0: white; /* text on colored elements */
    --text-2: hsl(261, 33%, 83%); /*headings and important text*/
    --text-1: var(--text-2); /* other normally white text */
    --text-3: hsl(267, 24%, 84%); /* normal text */
    --text-4: hsl(270, 31%, 81%); /* icon buttons and channels */
    --text-5: hsl(283, 14%, 42%); /* muted channels/chats and timestamps */

    /* direct messages moon icon */
    /* change to block to show, none to hide */
    --discord-icon: none; /* discord icon */
    --moon-icon: block; /* moon icon */
    --moon-icon-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg'); /* custom icon url */
    --moon-icon-size: auto;

    /* filter uncolorable elements to fit theme */
    /* (just set to none, they're too much work to configure) */
    --login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4); /* login background artwork */
    --green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43); /* add friend page explore icon */
    --blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2); /* add friend page school icon */
    
    --var-opacity-option: 0.2;    /*   Acrylic opacity from 0 to 1    */
    --var-color-saturation: 1.5; /* 0 to 999 where 1 is the default  */
    --var-contrast: 1.4;          /*     Increase for darker blacks   */

    --var-opacity-titlebar: 0.2;
    --var-opacity-left-sidebar: 0.2;
    --var-opacity-bottom-input: 0.2; /* Change the transparency of different elements */
    --var-opacity-right-sidebar: 0.2;
    --var-opacity-inner-messages: 0.3;
}
